$PrimaryColor500: #3B44F6;
$PrimaryColor400: #767CF9;
$PrimaryColor300: #D8DAFD;
 
$SecondaryColor500: #00D7FF;
$SecondaryColor400: #66E7FF;
$SecondaryColor300: #CCF7FF;

$Neutral1000: #181818;
$Neutral800: #323232;
$Neutral600: #525252;
$Neutral500: #A0A0A0;
$Neutral300: #F5F4F9;
$Neutral100: #FFFFFF;

$GlobalPadding: 15px


